/*
 * Mobile (<768px) -----------------------
 * fixture(화면마다 별명을 지어주는 것) sm
 * # of columns                      4
 * gutter                            20px
 * margin                            5px
 * container-size                    100% - (5px * 2)

 * Tablet (768px <=  < 1200px) -----------------------
 * fixture                           md
 * # of columns                      12
 * gutter                            20px (guuter는 잘 안바뀜)
 * margin                            30px
 * container-size                    100% - (30px * 2)
 * max-container-size                960px

 * Desktop (1200px <= ) -----------------------
 * fixture                           lg
 * # of columns                      12
 * unit                              75px (unit이 정해지면 margin이 의미가 없다.)
 * gutter                            20px (guuter는 잘 안바뀜)
 * margin                            auto
 * container-size                    1140px
 * max-container-size                1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-breakpoint: 768px;
$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-breakpoint: 1200px;
$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns; // 1140px
// 생으로 1140px을 적을 수 있지만, 이런 계산값으로 했을 경우 수정에 더 용이하다.

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $sm-margin;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // .col-sm-3, .col-md-5, .col-lg-3
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      // width: $i / $sm-columns * 100%;
      width: percentage($i / $sm-columns);
    }
  }

  @media screen and (min-width: $md-breakpoint) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        // width: $i / $md-columns * 100%;
        width: percentage($i / $md-columns);
      }
    }
  }

  @media screen and (min-width: $lg-breakpoint) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        // width: $i / $lg-columns * 100%;
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
